/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
#root{
  padding: 0;
  margin: 0;
}
body{
  padding: 0;
  margin: 0;
}

header{
  background-color: rgb(67, 66, 66);
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
header ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  list-style: none;
}
header ul li a{
  text-decoration: none;
  color: white
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16rem;
  border: 1px solid lightgray;
  margin-bottom: 2rem;
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
  box-shadow: 2px 4px 4px rgb(0, 0, 0, 0.3);
}
.box a{
  text-decoration: none;
  color: black
}
.mainList{
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 0rem;
}
.detailBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24rem;
  border: 1px solid lightgray;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 2px 4px 4px rgb(0, 0, 0, 0.3);
}
.detailMainBox{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0rem;
  
}
.detailBox button{
  background-color: rgb(76, 76, 76);
  color: white;
  height: 2.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
.charity-list{
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  align-items: center;
  justify-content: center;

}
.charity-list a{
  color: black;
  text-decoration: none;
  font-size: 0.8rem;
}
header input{
  height: 2.5rem;
  width: 15rem;
  border-radius: 0.5rem;
  border: none;
  padding: 0.2rem
}
header button{
  position: relative;
  right: 3.2rem;
  background: none;
  border: none;
  cursor: pointer;
}
.searchBox{
  display: flex;
  flex-wrap: wrap;
}
.favoriteBox{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.favorite-list{
  width: 23rem;
  border: lightgray 1px solid;
  padding: 0.5rem;
  margin-bottom: 2rem;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
}
.favorite-list button{
  background-color: lightgray;
  border: none;
  height: 2rem;
  width: 5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}